#main {
  width: 901px;
  margin-left:10%;
  box-sizing: border-box;
}

#fork {
  float:left;
}

table {
  float: left;
  padding-right: 6.6em;

}

#imageDiv {
  float:right;
  margin-right: 0
}

hr {
  clear: both;
}
