#main {
  width: 901px;
  margin-left:10%;
  box-sizing: border-box;
}

#fork {
  float:left;
}

table {
  float: left;
  padding-right: 6.6em;

}

#imageDiv {
  float:right;
  margin-right: 0
}

hr {
  clear: both;
}

.img {
  padding-left: 0;
  padding-right:0;

}
#RSS {
  padding-left: 5px;
}

#print {
  list-style-image: url(img/print-icon.png);
  float: right;
}

#postDate {
  float: left;
}
